
*{
    padding: 0;
    margin: 0;
}


.content-section {
    background: #ffffff;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    margin-bottom: 20px;
    box-sizing: border-box;
    
  }

.container-flu{
    background-image: linear-gradient(to right, rgba(28, 9, 75, 0.5), #94badb4f),url('./images/photo-of-people.jpg');
    opacity: 0.9;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center center;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.recomm-card{
    background: #ffffff;
    border-radius: 6px;
    height: 550px;
    box-shadow: 0px 1px 10px 1px #000;
}
.card-container{
    width: 350px;
    height: 500px;
    background: #ffffff;
    border-radius: 6px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 1px 10px 1px #000;
    overflow: hidden;
    display: inline-block;
   
}

.account{
    background-image: linear-gradient(to right, rgba(28, 9, 75, 0.5), #94badb4f),url('./images/account_page.jpg');
    height:96.8vh;
    width:98vw;
    margin: 0;
    padding:0;
    background-size: cover;
    background-blend-mode: multiply;
    background-position: center center;
}

.recomm-body{
    padding: 50px;  
    background:rgb(246, 245, 244);
    font-family: arial; 
    box-sizing: border-box;
    padding-top: 60px;
}

.recom__banner{
    height: 40px;
    box-sizing: border-box ; 
    border: 1px solid rgba(0, 0, 0, 0.123); 
    padding: 2px; 
    margin: 10px; 
    text-align: center;
}

@media(max-width: 766px){
    .recommcard__parent > :first-child{
        margin-bottom: 20px;
    }
    .card.register__card{
        max-width: 500px;
        /* margin-top: 40vh */
    }
    .cordinator{
        margin-top: 60px;
        height: 80vh;
        overflow-x: scroll;
    }

    .container-flu{
        background-size: cover;
        background-repeat: no-repeat;
    }
}

@media screen and (max-width: 414px){

    .card.register__card{
        max-width: 350px;
    }

    .cordinator{
        margin-top: 60px;
        overflow-x: scroll;
    }
    
    .login-card{
        max-width: 350px;
    }
    .recom__banner{
        height: 100px;
    }

    .recommcard__parent > :first-child{
        margin-bottom: 20px;
    }

}





.upper-container{
    height: 200px;
    background: rgba(240, 147, 147, 0.38);
}

.image-container{
    background:white;
    width: 110px;
    height: 110px;
    border-radius: 50%;
    padding:5px;
    transform : translate(120px, 130px)
}

.image-container img{
    background:white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.lower-container{
    height: 300px;
    background:rgb(246, 245, 244);
    font-family: arial; 
    box-sizing: border-box;
    padding:20px;
    padding-top: 60px;
    text-align: center;
}

.lower-container h3, h4{
    font-weight: 100;
}

.card-footer{
    height: 50px;
}


/* Rating Star Widgets Style */
.rating-stars ul {
    list-style-type:none;
    padding:0;
    
    -moz-user-select:none;
    -webkit-user-select:none;
  }
.rating-stars ul > li.star {
    display:inline-block;
    
}
  
  /* Idle State of the stars */
.rating-stars ul > li.star > i.fa {
    font-size:2.5em; /* Change the size of the stars */
    color:#ccc; /* Color on idle state */
  }

  #stars .hover{
    color:#FFCC36;
  }
  
  #stars .selected{
    color:#FF912C;
  }


ol{
    list-style: none;
}

ol,ul>li{
    text-align:initial
}

ul{
    list-style:lower-roman
}

li>span{
    font-size: 20px;
    font-weight:bold;
    font-family:fantasy"
}

