{% extends 'main_layout.html' %}
{% block content %}

    {% if remedies is iterable %}
        <div class="content-section">
            <div class="row">
                {% for remedy  in remedies %}
                    <div class="card">
                        <div class="upper-container">
                        </div>
                        <div class="card-body">
                            {{remedy.name | safe }}
                        </div>
                        <div class="card-footer">
                            <div class='rating-stars text-center'>
                                <ul id='stars'>
                                    <li class='star' title='Poor' data-value='1'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='Fair' data-value='2'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='Good' data-value='3'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='Excellent' data-value='4'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                    <li class='star' title='WOW!!!' data-value='5'>
                                        <i class='fa fa-star fa-fw'></i>
                                    </li>
                                </ul>
                                <input type="hidden" id = "rating_value" >
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    {% else %}
        <div class="content-section">
            <div class="row">
                <div class="card">
                    <div class="upper-container"></div>
                    <div class="card-body">
                        {{remedy.name | safe }}
                    </div>
                    <div class="card-footer">
                        
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
{% endblock content %} 


